extends ../shared/template
block content
  h2 User Register

  form.form.form-horizontal(roll='form', method='post', action='/register')
    .form-group
      label(for='email') Email
        input.form-control.input-lg#email(type='email', name='email', autofocus:true)
    .form-group
      label(for='password') Password
        input.form-control.input-lg#password(type='password', name='password')
    button.btn.btn-primary(type='submit') Register


block scripts

