@base: #eee;
@accent: #C8C6C6;
@darktone: #25263B;

body{
  background-color: @base;
  background-image: url('/img/pw_maze_white.png');

  div#nav {
    background-color: @darktone;
    border: 1px solid @darktone;
    border-radius: 0px;
  }
}
.navbar-brand, .navbar-default, .navbar a{
    color: @accent !important;
}

.table {
  th {
    background-color: @accent;
  }
}
