extends ../shared/template
block content
  h2 Addresses

  table
    thead
      th Name
      th Email
      th Twitter
    tbody
      each address in addresses
        tr
          td= address.name
          td= address.email
          td= address.twitter

block scripts
